@charset "UTF-8";


html, body, #__next {
    box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display:none;
} 


#__next {
    box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	border: 0;
	font-size: 100%;
	color: #212121;
	background-color: #fff;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	height: 100%;
}
.join-page.jsx-253692965{
	
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	min-width: 1200px;
}
* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: #212121;
    vertical-align: baseline;
}
.join-title.jsx-669562709{
	
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	text-align: center;
	padding-top: 84px;
	
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
a {
    color: #212121;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.join-title-wrap.jsx-669562709>a.jsx-669562709 img.jsx-669562709{
	text-align: center;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	border-style: none;
	width: 42px;
	vertical-align: top;
}
img {
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
h2.jsx-669562709 {
    font-size: 40px;
    font-weight: normal;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2.jsx-669562709 span.jsx-669562709:nth-of-type(1){
	text-align: center;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight: 700;
	color: #3f60cc;
	margin-right: 8px;
}
.mobile-service.jsx-669562709{
	text-align: center;
	font-weight: normal;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	display: none;
}
p.jsx-669562709{
	text-align: center;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 20px;
	color: #666666;
	line-height: 54px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul.jsx-596849754{
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	list-style: none;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	margin-top: 52px;
}
ol, ul {
    list-style: none;
}
li.email.jsx-500558648{
	list-style: none;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	position: relative;
	width: 282px;
	height: 320px;
	text-align: center;
	margin-right: 24px;
	background-color: #9BDAF2;
}

img.jsx-500558648{
	list-style: none;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	border-style: none;
	margin-bottom: 28px;
	vertical-align: top;
}
h3.jsx-500558648{
	list-style: none;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 8px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p.jsx-500558648{
	list-style: none;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 14px;
	color: #ffffff;
	white-space: pre;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.arrow.jsx-500558648 {
    display: none;
}
li.naver.jsx-500558648{
	list-style: none;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	position: relative;
	width: 282px;
	height: 320px;
	text-align: center;
	margin-right: 24px;
	background-color: #3ec728;
}

h3.jsx-500558648{
	list-style: none;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 8px;
}
p.jsx-500558648{
	list-style: none;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 14px;
	color: #ffffff;
	white-space: pre;
}
li.kakao.jsx-500558648{
	list-style: none;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	position: relative;
	width: 282px;
	height: 320px;
	text-align: center;
	margin-right: 24px;
	background-color: #fee202;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
li.jsx-500558648 a.jsx-500558648{
	list-style: none;
	font-size: 100%;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	color: #212121;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 48px 0;
	cursor: pointer;
	transition: box-shadow 0.5s;
}

li.jsx-500558648 a.jsx-500558648:hover{
	
  	box-shadow: 2px 2px 5px #aaa;

}

li.kakao.jsx-500558648 h3.jsx-500558648, li.kakao.jsx-500558648 p.jsx-500558648{
	color: #423630;
}
li.facebook.jsx-500558648{
	list-style: none;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	position: relative;
	width: 282px;
	height: 320px;
	text-align: center;
	margin-right: 0;
	background-color: #3a5998;
}
.login-link.jsx-596849754{
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #212121;
	vertical-align: baseline;
	margin: 40px 0;
	text-align: center;
}
.login-link.jsx-596849754 a.jsx-596849754{
	font-size: 100%;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	margin-left: 8px;
	color: #3f60cc;
}
address.jsx-253692965{
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 14px;
	text-align: center;
	color: #c1c1c1;
	font-style: normal;
	padding: 56px 0;
}
svg[Attributes Style]{
	list-style: none;
	text-align: center;
	cursor: pointer;
	font-size: 100%;
	color: #212121;
	width: 24;
	height: 24;
	fill: none;
	stroke: rgba(255, 255, 255, 0.5);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	box-sizing: border-box;
	outline: none;
	font-family: 'Noto Sans KR', sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	position: relative;
	vertical-align: top;
}
svg:not(:root) {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}