@charset "UTF-8";

.star-input>.input, .star-input>.input>label:hover, .star-input>.input>input:focus+label, .star-input>.input>input:checked+label{
  display: inline-block;
  vertical-align: middle;
  background: url('../img/grade_img.png') no-repeat;
}
.star-input2>.input2, .star-input2>.input2>label:hover, .star-input2>.input2>input:focus+label, .star-input2>.input2>input:checked+label{
  display: inline-block;
  vertical-align: middle;
  background: url('../img/grade_img2.png') no-repeat;
}
.star-input3>.input3, .star-input3>.input3>label:hover, .star-input3>.input3>input:focus+label, .star-input3>.input3>input:checked+label{
  display: inline-block;
  vertical-align: middle;
  background: url('../img/grade_img3.png') no-repeat;
}

.star-input{
  display: inline-block;
  white-space: nowrap;
  width: 225px;
  height: 40px;
  padding: 0px;
  line-height: 30px;
}
.star-input2{
  display: inline-block;
  white-space: nowrap;
  width: 225px;
  height: 40px;
  padding: 0px;
  line-height: 30px;
}
.star-input3{
  display: inline-block;
  white-space: nowrap;
  width: 225px;
  height: 40px;
  padding: 0px;
  line-height: 30px;
}

.star-input>.input{
  display: inline-block;
  width: 150px;
  background-size: 150px;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.star-input2>.input2{
  display: inline-block;
  width: 150px;
  background-size: 150px;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.star-input3>.input3 {
  display: inline-block;
  width: 150px;
  background-size: 150px;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.star-input>.input>input,.star-input>.input>input,.star-input>.input>input{
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
 
.star-input2>.input2>input,.star-input2>.input2>input,.star-input2>.input2>input{
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.star-input3>.input3>input,.star-input3>.input3>input,.star-input3>.input3>input{
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.star-input>.input.focus{
  outline: 1px dotted #ddd;
}
.star-input2>.input2.focus{
  outline: 1px dotted #ddd;
}
.star-input3>.input3.focus {
  outline: 1px dotted #ddd;
}

.star-input>.input>label{
  width: 30px;
  height: 0;
  padding: 28px 0 0 0;
  overflow: hidden;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.star-input2>.input2>label{
  width: 30px;
  height: 0;
  padding: 28px 0 0 0;
  overflow: hidden;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.star-input3>.input3>label {
  width: 30px;
  height: 0;
  padding: 28px 0 0 0;
  overflow: hidden;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.star-input>.input>label:hover, .star-input>.input>input:focus+label, .star-input>.input>input:checked+label{
  background-size: 150px;
  background-position: 0 bottom;
}

.star-input2>.input2>label:hover, .star-input2>.input2>input:focus+label, .star-input2>.input2>input:checked+label{
  background-size: 150px;
  background-position: 0 bottom;
}

.star-input3>.input3>label:hover, .star-input3>.input3>input:focus+label, .star-input3>.input3>input:checked+label {
  background-size: 150px;
  background-position: 0 bottom;
}

.star-input>.input>label:hover ~label{
  background-image: none;
}
.star-input2>.input2>label:hover ~label{
  background-image: none;
}
.star-input3>.input3>label:hover ~label {
  background-image: none;
}

.star-input>.input>label[for="p1"]{
  width: 30px;
  z-index: 5;
}

.star-input2>.input2>label[for="p12"]{
  width: 30px;
  z-index: 5;
}

.star-input3>.input3>label[for="p13"] {
  width: 30px;
  z-index: 5;
}

.star-input>.input>label[for="p2"]{
  width: 60px;
  z-index: 4;
}
.star-input2>.input2>label[for="p22"]{
  width: 60px;
  z-index: 4;
}
.star-input3>.input3>label[for="p23"]  {
  width: 60px;
  z-index: 4;
}

.star-input>.input>label[for="p3"]{
  width: 90px;
  z-index: 3;
}
.star-input2>.input2>label[for="p32"]{
  width: 90px;
  z-index: 3;
}
.star-input3>.input3>label[for="p33"] {
  width: 90px;
  z-index: 3;
}

.star-input>.input>label[for="p4"]{
  width: 120px;
  z-index: 2;
} 
.star-input2>.input2>label[for="p42"]{
  width: 120px;
  z-index: 2;
}
.star-input3>.input3>label[for="p43"] {
  width: 120px;
  z-index: 2;
}

.star-input>.input>label[for="p5"]{
  width: 150px;
  z-index: 1;
}
.star-input2>.input2>label[for="p52"]{
  width: 150px;
  z-index: 1;
}
.star-input3>.input3>label[for="p53"] {
  width: 150px;
  z-index: 1;
}

.star-input>output{
  display: inline-block;
  width: 60px;
  font-size: 18px;
  text-align: right;
  vertical-align: middle;
}
.star-input2>output{
  display: inline-block;
  width: 60px;
  font-size: 18px;
  text-align: right;
  vertical-align: middle;
}
.star-input3>output {
  display: inline-block;
  width: 60px;
  font-size: 18px;
  text-align: right;
  vertical-align: middle;
}









